<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tacos Don Pepe</title>

  <link href="css/com.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/cb69cc3bd3.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>

<body>
  <div id="header">
    <h1>Taquería Don Pepe</h1>
  </div>

  <br>
  <button id="back" onclick="window.location.href='coma.html'"><i class="fa-solid fa-reply"></i></button>
  <div class="ficha">
    <h2 id="tdp">Taquería Don Pepe</h2>

    <div class="ficha-top">

      <div class="ficha-left">

        <img src="media/images/dp.png" alt="Taquería Don Pepe" class="ficha-img">
        <p class="categoria"><strong>Categoría:</strong> Comida.</p>
        <p class="palabras-clave">Palabras clave: Comida, Desayunos, Cena, Tacos, Comida Rica, Blah, Blah, Blah, Blah,
          Blah, Blah, Blah, Blah, Blah, Blah.</p>
      </div>

      <div class="ficha-right">
        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <span>(120)</span>
        </div>

        <hr>
        <p class="horario">Martes Y Sábado</p>
        <hr>

        <div class="ficha-desc">
          <h3>Descripción:</h3>
          <p>Ricos y deliciosos tacos de diferentes guisos, hechos por el gran Don Pepe Torrez, nos ponemos desde las
            9:00 am y nos quitamos a las 9:00 pm.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="opciones">
    <h2>Críticas:</h2>
    <input type="text" id="crit" placeholder="Comenta tu opinión:">
    <button id="send">Enviar</button>
  </div>

  <br>

  <button class="bottom" id="ini" onclick="window.location.href='principal.html'"> <i class="fa-regular fa-house"
      style="font-size: 40px"></i> Inicio</button>
  <button class="bottom" id="bus" onclick="window.location.href='buscar.html'"><i class="fa-solid fa-magnifying-glass"
      style="font-size: 40px"></i>Buscar</button>
  <button class="bottom" id="reg" onclick="window.location.href='registrar.html'"><i class="fa-solid fa-plus"
      style="font-size: 40px"></i> Registrar</button>
  <button class="bottom" id="conf" onclick="window.location.href='configuracion.html'"> <i class="fa-solid fa-gear"
      style="font-size: 40px"></i>Configuración</button>
  <button class="bottom" id="sus" onclick="window.location.href='suscripcion.html'"><i class="fa-solid fa-credit-card"
      style="font-size: 40px"></i>Suscripción</button>

</body>

</html>