<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercadito Av Revolución</title>

  <link href="css/coma.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/cb69cc3bd3.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>

<body>
  <button id="back" onclick="window.location.href='principal.html'"><i class="fa-solid fa-reply"></i></button>
  <!--<audio autoplay src="media/music/september2015.mp3" type="audio/mpeg" loop></audio>-->
  <div id="header" style="background-image: url(media/images/mercadito4k.jpg);">
    <h1>Mercadito Av Revolución</h1>
    <label> Martes y Sábados</label>
  </div>

  <br>

  <button class="uparrows" id="leftup"><i class="fa-solid fa-angle-left"></i></button>
  <button class="uparrows" id="rigthup"><i class="fa-solid fa-angle-right"></i></button>

  <div class="suscom">
    <h3>Recomendados de MercaRed:</h3>
    <input type="text" id="combu" placeholder="Buscar por palabra clave:">
    <select id="categoria">
      <option value="">Categoría</option>
    </select>
  </div>

  <div class="comercios">
    <button class="comercio" onclick="window.location.href='com.html'" id="comer1">
      <img src="media/images/dp.png" alt="Taquería Don Pepe">
      <span class="tooltip">Taquería Don Pepe</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer2">
      <img src="media/images/ham.png" alt="Hamburguesas Julio's">
      <span class="tooltip">Hamburguesas Julio's</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer1">
      <img src="media/images/rop.png" alt="Ropa">
      <span class="tooltip">Ropa Mercadito</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer2">
      <img src="media/images/hel.png" alt="Los Helados de María">
      <span class="tooltip">Los Helados de María</span>
    </button>
  </div>

  <div class="suscom2">
    <h3>Calificación más alta a la más baja:</h3>
  </div>

  <button class="uparrowsb" id="leftupb"><i class="fa-solid fa-angle-left"></i></button>
  <button class="uparrowsb" id="rigthupb"><i class="fa-solid fa-angle-right"></i></button>

  <div class="comercios2">
    <button class="comercio" onclick="window.location.href='com.html'" id="comer1">
      <img src="media/images/dj.png" alt="Taquería Don Juan">
      <span class="tooltip">Taquería Don Juan</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer2">
      <img src="media/images/nen.png" alt="Estética nena">
      <span class="tooltip">Estética Nena</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer1">
      <img src="media/images/dp.png" alt="Ropa">
      <span class="tooltip">Taquería Don Pepe</span>
    </button>

    <button class="comercio" onclick="window.location.href='com.html'" id="comer2">
      <img src="media/images/lol.png" alt="Los Helados de María">
      <span class="tooltip">Estética Animal Lola</span>
    </button>
  </div>

  <br>

  <button class="bottom" id="ini" onclick="window.location.href='principal.html'"> <i class="fa-regular fa-house"
      style="font-size: 40px"></i> Inicio</button>
  <button class="bottom" id="bus" onclick="window.location.href='buscar.html'"><i class="fa-solid fa-magnifying-glass"
      style="font-size: 40px"></i>Buscar</button>
  <button class="bottom" id="reg" onclick="window.location.href='registrar.html'"><i class="fa-solid fa-plus"
      style="font-size: 40px"></i> Registrar</button>
  <button class="bottom" id="conf" onclick="window.location.href='configuracion.html'"> <i class="fa-solid fa-gear"
      style="font-size: 40px"></i>Configuración</button>
  <button class="bottom" id="sus" onclick="window.location.href='suscripcion.html'"><i class="fa-solid fa-credit-card"
      style="font-size: 40px"></i>Suscripción</button>
</body>

</html>