<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
</head>

<body>
  <div>
    <div class="registro">
      <h1 class="logo">MR</h1>
      <p class="titulo">Iniciar Sesión</p>

      <div class="campo">
        <label for="correo">Correo electronico</label>
        <input type="email" id="correo" placeholder="">
      </div>

      <div class="campo">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" placeholder="">
      </div>

      <div class="enlaces">
        <a>¿Olvidaste tu contraseña?</a>
        <br>
        <span class="registro-cuenta" style="text-align: center;">
          ¿No tienes cuenta?<br>
          <a href="registro.html">Regístrate Aquí</a>
        </span>
      </div>
    </div>

    <button id="ragbot" onclick="window.location.href='principal.html'">Iniciar sesión</button>
  </div>

</body>

</html>