<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercaRed Plus 1 Semana</title>

  <link href="css/susa.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/cb69cc3bd3.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>

<body>
  <div id="header">
    <h1>MercaRed Plus: 1 Semana</h1>
  </div>

  <br>
  
  <button id="back" onclick="window.location.href='suscripcion.html'"><i class="fa-solid fa-reply"></i></button>
  <div class="ficha">
    <h2 id="tdp">Mercared Plus: 1 Semana</h2>

    <div class="ficha-top">

      <div class="ficha-left">

        <img src="media/images/MRP.png" alt="Taquería Don Pepe" class="ficha-img">

      </div>

      <div class="ficha-right">
        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <span>(1,200)</span>
        </div>

        <hr>

        <p class="horario">Costo: $20Mx</p>

        <hr>

        <div class="ficha-desc">
          <h3>Descripción:</h3>
          <p>Suscripción que te permite blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,
            blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah,
            blah, blah, blah, blah.</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <button id="ragbot" onclick="window.location.href='tarjeta.html'"> Suscribirse $20Mx</button>
</body>

</html>